__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env
*.db
instance/
.DS_Store
*.log
*.egg-info/
dist/
build/
.idea/
.vscode/
*.swp
static/downloads/*.pdf
static/downloads/*.doc
static/downloads/*.docx
static/downloads/*.xls
static/downloads/*.xlsx
static/downloads/*.zip
